# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Node
node_modules/
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor folders
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Temp files
*.tmp
*.bak
